run = "npm run start"
entrypoint = "server/index.js"

[nix]
channel = "stable-24_05"

[env]
NODE_ENV = "production"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build && npm run db:generate"]
